@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  align-items: cover;
  justify-content: center;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 9999;
}
header .logo:hover {
  animation: translate_rotate 3s;
}
@keyframes translate_rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: translateX(15px);
  }
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
header ul li {
  list-style: none;
  margin-left: 20px;
}
header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}
header ul li a:hover,
header ul li a.active {
  background: #fff;
  color: #2b1055;
}
section.main-part {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.main-part::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, black, transparent);
  z-index: 1000;
}
section.main-part video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
section.main-part img#black {
  width: 100%;
  height: 100%;
  opacity: 35%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
section.main-part img#down-arrow {
  width: 50px;
  position: absolute;
  bottom: 350px;
  left: 930px;
  animation: arrow-down 0.5s infinite linear;
}

@keyframes arrow-down {
  0% {
    transform: TranslateY(0px);
  }
  100% {
    transform: TranslateY(10px);
  }
}
#text1 {
  position: absolute;
  color: #fff;
  white-space: nowrap;
  font-size: 5.5vw;
  z-index: 9;
  transform: translateY(-50px);
}
#text2 {
  position: absolute;
  color: #fff;
  white-space: nowrap;
  font-size: 1.5vw;
  transform: translateY(50px);
  z-index: 9;
}
#button-games {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: #fff;
  color: #2b1055;
  font-size: 1.5em;
  z-index: 9;
  transform: translateY(120px);
}
.mainpart {
  margin: 0;
  background: #23272a;
  padding: 100px;
  justify-content: center;
}
.mainpart h2.aboutustext {
  color: #ffff;
  font-size: 5em;
}
.mainpart p.aboutusp {
  color: #ffff;
  font-size: 2.5em;
}
.cards {
  display: flex;
}
.cardss {
  padding-left: 550px;
}
.card-one {
  border: 2px solid #0165fb;
  width: 400px;
  height: 500px;
  max-height: auto;
  margin: 100px 80px;
}
.card-one h2.card-one-name {
  font-size: 2em;
  color: #ffff;
}
.card-one p.card-one-p {
  color: #ffff;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
}
.card-one p.card-one-thedaughter-p {
  color: #ffff;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
}
.card-one button.card-one-button {
  border-radius: 30px;
  border-color: #0165fb;
  color: #ffff;
  background: #0165fb;
  width: 150px;
  height: 50px;
  text-align: center;
  margin-top: 80px;
}
.secondpart {
  margin: 0;
  background: #0165fb;
  padding: 100px;
  justify-content: center;
}

.secondpart h2.aboutustext {
  color: #ffff;
}
.secondpart p.aboutusp {
  color: #ffff;
}
.cards-our {
  display: flex;
}
.card-one-our {
  border: 2px solid #ffff;
  padding-top: 20px;
  padding-bottom: 40px;
  width: 400px;
  height: auto;
  max-height: auto;
}

.card-one-our img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.card-one-our h2.card-one-name {
  margin-top: 10px;
  font-size: 2em;
  color: #ffff;
}
.card-one-our p.card-one-p {
  color: #ffff;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
}
.swiper {
  display: flex;
}
.swiper-slide {
  display: flex;
  justify-content: space-around;
}

.footer {
  background: #23272a;
  height: 300px;
}
.footer h2 {
  font-size: 1em;
  color: #fff;
}
.footer p {
  font-size: 1em;
  color: #fff;
}
.footer p.footer-text {
  color: #fff;
  font-size: 1em;
  text-align: justify;
}
.footer .footer-text {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}
.content {
  display: none;
}
.loader {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #16191e;
  position: absolute;
}
.loader > div {
  height: 50px;
  width: 50px;
  border: 3px solid #45474b;
  border-top-color: #2a88e6;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  animation: spin 1.5s infinite linear;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #0165fb;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.fab {
  padding-top: 5px;
  padding-left: 5px;
  font-size: 30px;
  position: absolute;
  top: calc(50%-20px);
}

.fa-instagram {
  padding-left: 7px;
}

.fa-discord {
  font-size: 25px;
  padding-top: 8px;
  padding-left: 9px;
}

.fa-twitter {
  font-size: 25px;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
.gototop {
  position: fixed;
  right: 2%;
  bottom: 3%;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  animation: go_top 0.8s infinite linear;
}

@keyframes go_top {
  0% {
    transform: 0px;
  }
  100% {
    transform: TranslateY(10px);
  }
}

.contact-us-model {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.contact-us-model .container-form {
  background-color: #0165fb;
  box-shadow: 5px 10px 10px 10px;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 800px;
  height: 800px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes go_top {
  0% {
    transform: 0px;
  }
  100% {
    transform: TranslateY(10px);
  }
}

.contact-us-model .container-form .contact-form {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}
.contact-us-model .container-form .contact-form label {
  font-size: 20px;
  position: relative;
  padding: 100px;
}
.contact-us-model .container-form .contact-form input,
.contact-us-model .container-form .contact-form select,
.contact-us-model .container-form .contact-form textarea {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border: 1px solid rgba(128, 128, 128, 0.199);
  margin-top: 5px;
  border-radius: 25px;
}
